/* custom styles for Understanding WCAG 2.0 */

body {
   max-width: 75em;
    }
code { 
    font-family: monospace;
    }
h3.section, h3.terms {font-weight: normal; margin-top: 1.5em; color: #000000; background: inherit;}
h4 {font-weight: bold; margin-bottom: 0; color: #333; background: inherit;}


.boxed {border: solid #ccc 1px; padding: 0 0 1em; margin: 1em 2em 0 2em}
.boxed p {margin-left: 1em; margin-right: 1em}
.boxed div {margin-left: 0.5em;}
.boxed h4 {font-weight: bold; padding: 0.5em 1em; color: #000000; background: #f0f0f0; margin: 0 0 1em}
.boxed h5 {font-weight: bold; padding: 0.5em; margin: 0}

div.boxed h3, div.div2 h2, .div3 h3 {color:#000000; font-size: 1.2em;}

.div3head, .div2head {color:#000000;}

.resources h3 {margin-bottom: .25em;}


dl {margin-left: 0.5em;}
dt {font-weight: bold; margin: .5em 0 0 0}
dd {margin-left: 1em}
dd p {margin-top: 0}

div.constraint, div.issue, div.note, div.notice, div.example { 
    margin-left: 1em; 
    margin-bottom: 0.5em; 
    margin-top: 0; 
    padding-top:0;
    }
    
dl div.note, dl div.example {
    margin-top: 0.25em;
    margin-left: 0.5em;
    }

ol.enumar { 
    list-style-type: decimal; 
    margin-top: 0; 
    margin-bottom: .25em;
    }
    
ol.enumla { 
    list-style-type: lower-alpha; 
    }
    
ol.enumlr { 
    list-style-type: lower-roman; 
    }

ol.enumua { 
    list-style-type: upper-alpha;
    }

ol.enumur { 
    list-style-type: upper-roman;
    }

div.div2 dl, dl.keyterms {
    margin-left: 1.5em;
    }

p, td {
    line-height: 1.4; 
    margin-left: .5em; 
    color: #000; 
    background: inherit; 
    font-weight: normal;
    }
    
li {
    margin-top: 0; 
    margin-bottom: 0.25em; 
    padding-top: 0; 
    padding-bottom: 0;
    }

li p, dd p {
    margin-top: 0; 
    margin-bottom: 0; 
    padding-top: 0; 
    padding-bottom: 0
    }

video {
    max-width: 100%;
}

strong.sc-handle {
     font-size: 1em;
     }

dd.prefix p {
    margin-bottom: 0;
    }

div.head dt {
    margin-top: 0.25em;
    }
    
dt.label {
    padding-top: .5em;
    }
    
dd p {
    margin-left: 0;
    }

div.sc ul, div.sc ol, div.sc div.note, div.div3 ul, div.div3 ol {
           display: block;
	margin-top: 0;   
	margin-bottom: 0;   
}
      
div.sc li, div.sc li p  {
    padding: 0;
    margin: 0;
    } 
		 
div.sc {
	 margin-left: 0;
	 margin-bottom: 1.5em !important;}
  
.termref {
          text-decoration:none;
          color:#000000;
          border-bottom:dotted #585858 1px; /* de-emphasize glossary links */
          background-color: #fff;
          }
      
a.termref:link, a.termref:visited {
        color:#000000;
        background : inherit;
        }
        
 a.termref:hover, .termref:active, a.termref:focus {
          color:#0000CC;
          background : inherit;
      }
.sorethumb {
    color: red; background: inherit;
    }

a.HTMlink, a.HTMlink:visited, a.HTMlink:hover, a.HTMlink:focus { 
    font-size: 0.8125em;
    padding: 0;
    font-weight: normal;
    }
        
p.prefix {
    margin: 0.25em 0 0.5em 0;
    padding:0;
    }
 
div.sc div.note p.prefix {
    margin-bottom: 0;
}

/* Un-do the removal of underlines from the links in the head area */

.head p:not(.copyright) > a, .head > a:first-child {
    border-bottom: 1px solid #707070;
}


span.screenreader {position: absolute; left: -10000px}

/* tabbed styles - repeated here to keep cover sheets consistent with /TR/ style */
  
  #navigationbottom {padding: .5em 0 0 0; margin: 2em 0 10px 0; border-top: 2px solid #778; float: right; width: 100%;} /* top, right, bottom, left */
  #navigationbottom li {list-style: none; margin: 0; display: inline; font-size: 0.75em; float: left}
  #navigationbottom li a {padding: 3px 0.5em; margin-left: 3px; border: 1px solid #778; background: #dde; text-decoration: none; float: left}
  #navigationbottom li a:link {color: #404040}
  #navigationbottom li a:visited {color: #404040}
  #navigationbottom li a:hover, #navigationbottom li a:focus, #navigationbottom li a:active {color: #000; background: #aae; border-color: #227; float: left}
  
  div.footer {margin-top: 1em;}   

  div.toc hr {display:block;}
  hr.divider {display: block; margin-top: 2em;}
  
  /* Underline headings with .section class */
  
.section, .terms {
border-bottom:thin solid #666666;
display:block;
padding-bottom:0.25em;
}

p.revnote, div.revnote {
margin:0;
padding:0em;
}
.revnote {
background-color:#F0F8F8;
border:thin solid #A7ABBF;
color:black;
page-break-inside:avoid;
}

/* @@ copy to slicenav

*/

blockquote.scquote, blockquote.glquote {margin: 1em; border: solid #ccc 1px; background: #f0f0f0; color: #000; padding: 1em;}
blockquote.scquote p, blockquote.glquote p {font-size: 0.9em}
blockquote.scquote ul li {font-size: 1em;}
blockquote.scquote a:active, blockquote.scquote a:hover, blockquote.scquote a:focus, blockquote.glquote a:active, blockquote.glquote a:hover, blockquote.glquote a:focus {background: #ffa;}

p.sctxt {
    margin: 0.5em 0 0 0.5em;
    padding: 0;
    }