.wcag21, .wcag22 {
	background-color: #E9FBE9;
	border-left: solid .5em #52E052;
}
span.wcag21, span.wcag22 {
	margin-left: .25em;
	padding-left: .25em;
}
div.wcag21, div.wcag22 {
	margin: 1em auto;
	padding: .5em;
	page-break-inside: avoid;
}
.new-version {
	font-size: smaller;
	font-weight: bold;
}