main {
	display: block;
}

.nav-container {
	background-image: linear-gradient(#d0e1f1 0, #d0e1f1 50px, #fff 50px);
}

.nav__item a {
	display: inline-block;
}

.nav__item a svg {
	vertical-align: middle;
	height: 1em;
}

.nav__item a + button {
	margin-left: -0.75em;
	margin-right: 1em;
	;
}

.minimal-header {
	-ms-grid-column: 2;
	-ms-grid-column-span: 8;
	-ms-grid-row: 1;
	grid-column: 2/10;
}

.main-content {
	-ms-grid-column: 2;
	-ms-grid-column-span: 6;
	grid-column: 2/span 6;
	-ms-grid-row: 2;
	-ms-grid-row-span: 2;
	grid-row-start: 2;
}

.sidebar ul {
	padding: 0;
}

.sidebar li {
	margin-left: 1em;
}

.sidebar dd {
	margin-left: 0 !important;
}

h1 span {
	display: block;
	font-size: .5em;
	margin-bottom: 0.25em;
}

h2 {
	position: relative;
}

h2 .permalink {
	position: absolute;
	left: -1em;
}

h2 .permalink a {
	color: var(--grey);
	text-decoration: none;
}

h2 .fragmentlink {
	margin-left: -1em;
	position: relative;
	float: left;
}

h2 .fragmentlink svg {
	visibility: hidden;
}

h2:hover .fragmentlink svg {
	visibility: visible;
}


dt div {
	font-weight: normal;
}

.toc-wcag-docs {
	list-style: none;
	padding-left: 0;
}
.toc-wcag-docs a:visited {
	color: #036; /* make same as not visited, because visually same more important than indication of visited here */
}
.main-content > .toc-understanding-guideline > li > a {
	font-weight: bold;
	margin-top: 2em;
	margin-bottom: -.5em;
	display: block;
	text-decoration: none;
}

.scquote {
	margin: 0;
	border: 1px solid var(--line-grey);
	padding: 1em;
	font-style: normal;
}
.scquote > :first-child {
	margin-top: 0;
	padding-top: 0;
}

.minimal-header-container {
	background-color: #005a9c;
	background-color: var(--w3c-classic);
	color: #fff;
	color: var(--pure-white);
}
.minimal-header-logo > a {
	display: flex;
}
.minimal-header-name > a {
	color: inherit;
}

.note {
	background: var(--off-white);
	padding: 1em;
	border: 1px solid var(--cloudy);
}
.note-title {
	font-weight: bold;
}

/* import inline styles from https://www.w3.org/WAI/drafts/WCAG-understanding-redesign-hack.html */
.nav a:link {
text-decoration: none;
}
#site-header.minimal-header.with-subtitle {
padding: 1.75em 0 0 0;
}

.minimal-header-logo img {
margin: 1px 0 1px 0;
}

#site-header.minimal-header {
margin: 1.2em 0;
align-items: stretch;
}

#site-header.minimal-header .minimal-header-name, 
#site-header.minimal-header .minimal-header-subtitle, 
#site-header.minimal-header .minimal-header-link 
{
display: flex;
flex-direction: column;
justify-content: center;
}

.minimal-header-name {
flex: width 0 0;
}

.minimal-header-subtitle,
.minimal-header-link {
border-left: 1px solid var(--gold);
padding-left: 8px;
margin-left: 18px;
display: block;
font-size: 80%;
flex: 1 0 0;
}

.minimal-header-subtitle {
font-style: italic;
}

.minimal-header-link {
text-decoration: underline !important;
font-weight: normal;
margin-right: 16px;
}

.nav-container {
margin-bottom: 0;
}

.nav {
background: none;
}

.nav-related-info { /* blue bar with the "About:" links */
background: #005a9c;
color: #fff;
}

.nav-related-info a {
color: #fff !important;
}

.nav-page-specific { /* light blue bar with page/section specific navigation/pager */
margin-bottom: 1.25em;
}

.nav a:link, .nav a:visited {
color: #036;
color: var(--w3c-blue);
}

.nav a:hover, .nav a:active {
color: var(--dk-blue);
}

.nav-hack.sidebar a:hover,
.nav-hack.sidebar a:active
{
color: var(--dk-blue);
text-decoration: underline;
}

.standalone-resource-about, .standalone-resource-pager {
margin: 0;
}

nav.standalone-resource-about {
padding: .5em 0 1.5em 0;
font-style: italic;
}

.standalone-resource-about dl, .standalone-resource-about dt, .standalone-resource-about dd {
display: inline;
margin: 0;
padding: 0;
}

.standalone-resource-about dt{
font-weight: normal;
}

.standalone-resource-about dl a {
margin: 0;
padding: 0 1em 0 1em;
}

.standalone-resource-about dd {
border-right: 1px var(--gold) solid;
}

.standalone-resource-about dd:last-of-type {
border-right: 0;
}

.standalone-resource-about dd svg {
margin-left: 0.25rem;
vertical-align: middle;
}

.nav .standalone-resource-pager ul {
align-items: center;
}

.nav .standalone-resource-pager a,
.nav .standalone-resource-pager span {
margin-left: 0;
margin-right: 1.5em;
}

.pager-icon {
vertical-align: middle;
padding: 0 0.15em 0.15em 0.15em;
width: 1.65em;
height: 2em;
fill: #005A6A; /* when these are used as actual SVGs */
}

.category-icon {
vertical-align: middle;
padding: 0 0.25em 0.25em 0.25em;
width: 2em;
height: 2em;
}

.standalone-resource-pager {
padding: .7em 0;
}

.standalone-resource-pager ul {
display: block;
}

.standalone-resource-pager ul li {
display: inline;
}

.nav-hack {
font-size: .85em;
/*justify-self: end;*/
align-self: start;
}
.nav-hack ul {
list-style: none;
padding-left: 0
}
.nav-hack li:not(:first-child){
padding-top: 0.4em;
line-height: 1.2;
border-top: 1px solid #BCBCBC;
}
.nav-hack li a {
text-decoration: none;
}
.nav-hack h3 {
margin: 0;
font-size: 1rem;
}

.nav-hack p {
margin: 0;
}


/* skip link */
.button--skip-link {
background-color: var(--gold) !important;
border-color: var(--gold) !important;
outline-color: currentColor !important;
color: var(--off-black) !important;
font-weight: 600;
font-size: larger;
margin: 0 auto;
position: absolute;
z-index: 20;
left: 0;
right: 0;
top: 0.5em;
width: 10em;
opacity: 1;
transition: transform 0.1875s ease-out, opacity 0.1875s ease-out;
}

.button--skip-link:not(:focus):not(:hover) {
transform: translateY(-4em);
opacity: 0;
}

.standalone-resource-navrule {
border:none;
border-top: 1px solid grey
}

.standalone-resource-about ul,
.standalone-resource-pager ul {
list-style: none;
}

.nav {
font-size: 95%;
}

.standalone-resource-about a,
.standalone-resource-pager a,
.standalone-resource-about span,
.standalone-resource-pager span 
{
margin-left:.8em;
margin-right:.8em;
}
