main {
    display: block;
}

.nav-container {
    background-image: linear-gradient(#d0e1f1 0, #d0e1f1 50px, #fff 50px);
}

.nav__item a {
    display: inline-block;
}

.nav__item a svg {
    vertical-align: middle;
    height: 1em;
}

.nav__item a+button {
    margin-left: -0.75em;
    margin-right: 1em;
    ;
}

.minimal-header {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    -ms-grid-row: 1;
    grid-column: 2 / 10;
}

.main-content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row-start: 2;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    margin-left: 1em;
}

.sidebar dd {
    margin-left: 0!important;
}

h1 span {
    display: block;
    font-size: .5em;
    margin-bottom: 0.25em;
}

h2 {
    position: relative;
}

h2 .permalink {
    position: absolute;
    left: -1em;
}

h2 .permalink a {
    color: var(--grey);
    text-decoration: none;
}

h2 .fragmentlink {
    margin-left: -1em;
    position: relative;
    float: left;
}

h2 .fragmentlink svg {
    visibility: hidden;
}

h2:hover .fragmentlink svg {
    visibility: visible;
}


dt div {
    font-weight: normal;
}

.toc-understanding {
    list-style: none;
    padding-left: 0;
}
.toc-understanding a:visited {
    color: #036; /* make same as not visited, because visually same more important than indication of visited here */
}
.main-content > .toc-understanding-guideline > li > a {
    font-weight: bold;
    margin-top: 2em;
    margin-bottom: -.5em;
    display: block;
    text-decoration: none;
}

.scquote {
    margin: 0;
    border: 1px solid var(--line-grey);
    padding: 1em;
    font-style: normal;
}
.scquote > :first-child {
    margin-top: 0;
    padding-top: 0;
}

.pager--item.context {
    flex: 100%;
    background: var(--cloudy-subtle);
    margin: -8px -8px 8px;
    padding: 8px;
    text-align: center;
}
.pager--item.context > a {
    justify-content: center;    
}
.pager--item.next a {
    text-align: right;
}
.pager--item-text {
    margin: 0 8px;
}

.minimal-header-container {
    background-color: #005a9c;
    background-color: var(--w3c-classic);
    color: #fff;
    color: var(--pure-white);
}
.minimal-header-logo > a {
    display: flex;
}
.minimal-header-name > a {
    color: inherit;
}