@charset "utf-8";
/* CSS Document */

body{
  background:#fff;
  color:#000;
  font:100% / 1.5 sans-serif;
  margin:2em;
}

#mainbody { padding: 1em; }

#colorswitch {float: right; width: 12em; border: 1px #000066 solid; padding:0 1em 1em 1em; margin:0;}

#colorswitch p { padding-top:.5em; font-weight:bold;}
