body
{
	font: normal 100.01%/140% arial, Verdana, helvetica, sans-serif;
	color:#000;
	background-color: #fff;
	margin: 0;
	padding: 1em;
}

a
{
	color: #00c;
	background-color: #fff;
}

form h2 a.submissionerror
{
	color: #000;
	background-color: #fff;
	text-decoration: none;
}

fieldset
{
	padding: 1em;
}

legend
{
	color: #000;
	background-color: #fff;
}

fieldset div{
	margin-bottom:1rem;
}
