.principle h2::before {
	content:"Principle ";
}

.guideline h3::before {
	content:"Guideline ";
}

.sc h4::before {
	content:"Success Criterion ";
}

.conformance-level {
	display:inline;
}

.conformance-level::before {
	content:"(Level ";
}

.conformance-level::after {
	content:")";
}

.change {
	display:inline;
}

.change::before {
	content:"[";
}

.change::after {
	content:"]";
}