.conformance-level {
	display:inline;
}

.change {
	display:inline;
}

.new {
    border: medium solid #008000;
}
.proposed {
    border: medium solid #D34245;
}
.changed {
	border: medium solid #c28017;
}
section.new, section.proposed, section.changed {
    padding: 1em;
    margin-top: 1em;
}
dt.new, dt.proposed, dt.changed {
    border-bottom: none;
}
dd.new, dd.proposed, dd.changed {
    border-top: none;
    margin-left: 0;
    padding-left: 2em;
}
.doclinks {
	float: right;
	border: thin solid black;
	font-size: x-small;
	display: block;
	width: 25%;
	hyphens: none;
}
.sc dt {
	display: list-item;
	list-style-type: disc;
	float: left;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 1ex;
	line-height: 1.5;
}
.sc dt:after {
	content: ":";
}
div.note-title, div.ednote-title {
	color: #008400
}
/* make links in W3C masthead bold, since we can't make them underline */
span.screenreader {position: absolute; left: -10000px}
.head p:not(.copyright) > a, .head > a:first-child {
	font-weight: bold;
}
div.transheader {
	display: block;
    border: solid #ccccbb;
    padding: 2%;
    background: #eeeedd;
}
.transtitle {
	color: #555555;
    background: #eeeedd;
    font-weight: bolder;
}