.conformance-level {
	display:inline;
}

.change {
	display:inline;
}

.new {
    border: medium solid #008000;
}
.proposed {
    border: medium solid #D34245;
}
section.new, section.proposed {
    padding: 1em;
    margin-top: 1em;
}
dt.new, dt.proposed {
    border-bottom: none;
}
dd.new, dd.proposed {
    border-top: none;
    margin-left: 0;
    padding-left: 2em;
}
.doclinks {
	float: right;
	border: thin solid black;
	font-size: x-small;
	display: block;
	max-width: 25%;
	hyphens: none;
}