.conformance-level {
	display:inline;
}

.change {
    display: inline;
    color: #fff;
    background: #005A9C;
    border-radius: 0.25em;
    padding: 0.25em 0.4em;
    margin: 0 0.25em 0 0;
    font-weight: bold;
}

.new {
    border: medium solid #008000;
}
.proposed {
    border: medium solid #D34245;
}
.changed {
	border: medium solid #c28017;
}
section.new, section.proposed, section.changed {
    padding: 1em;
    margin-top: 1em;
}
dt.new, dt.proposed, dt.changed {
    border-bottom: none;
}
dd.new, dd.proposed, dd.changed {
    border-top: none;
    margin-left: 0;
    padding-left: 2em;
}
.doclinks {
	float: right;
	border: thin solid #aaa;
    background: #ecf2f7;
	font-size: small;
	display: block;
	width: 25%;
	hyphens: none;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: -0.5em 0 1em 2em;
}
.sc dt {
	display: list-item;
	list-style-type: disc;
	float: left;
	font-weight: bold;
	margin-left: 2em;
	margin-right: 1ex;
	line-height: 1.5;
}
.sc dt:after {
	content: ":";
}
div.note-title, div.ednote-title {
	color: #008400
}
a.internalDFN[title]:hover, .internalDFN[title]:active, a.internalDFN[title]:focus {
	cursor: help;
}
span.screenreader {position: absolute; left: -10000px}
