/* Optional Styles for APCA Lookup Table */

.APCAtable td:first-child {font-weight: bold;}

.APCAtable {
	text-align: center;
}
.APCAtable .underWeight {
	font-size: 1.5em;
	line-height: 0.7;
	color: #c0272d;
	/* color: var(--faded-red); */
}
.underWeightSpan {
	color: #c0272d;
	/* color: var(--faded-red); */
}
.APCAtable .keyValue {
	font-weight: bold;
	background-color: #d0e1f1;
	/* background-color: var(--cloudy-subtle); */
}
