[role="tabpanel"] {
	padding: .5rem;
	border: 2px solid #005a6a;
	border-radius: 5px;
	margin-top: -2px;
}
[role="tabpanel"].is-hidden {
	display: none;
}
[role="tab"][aria-selected="true"] {
	background-color: var(--w3c-blue);
	border-color: var(--w3c-blue);
	padding: 12px 16px 8px 16px;
	font-size: 1rem;
}
#silver-sticker {
	height: 15ex;
	width: 15ex;
	max-width: 15%;
	float: right; 
	margin-left: 1em; 
	margin-bottom: 1em;
}
#type-img {
	height: 5ex;
	width: 5ex;
	max-width: 15%;
	float: left; 
	margin-right: 1em; 
	margin-bottom: 1em;
	vertical-align: bottom;
}
h1+p, button[role="tablist"] {
	clear: both;
}
.guideline-link::before, .howto-link::before, .outcome-link::before, .method-link::before, .json-link::before {
	display: inline-block;
	width: 2.5ex;
	margin-right: .25em;
	vertical-align: text-top;
}
.guideline-link::before {
	content: url(/WAI/GL/WCAG3/2020/img/silver-sticker.svg);
}
.howto-link::before {
	content: url(/WAI/GL/WCAG3/2020/img/how-to.svg);
}
.outcome-link::before {
	content: url(/WAI/GL/WCAG3/2020/img/outcome.svg);
}
.method-link::before {
	content: url(/WAI/GL/WCAG3/2020/img/method.svg);
}
.json-link::before {
	content: url(/WAI/GL/WCAG3/2020/img/json.svg);
}
.json-link {
	text-align: right;
}

/* fixes for broken minimal-header styles, taken from  */
.tool-header {
	-ms-grid-column: 2;
	-ms-grid-column-span: 8;
	-ms-grid-row: 1;
	grid-column: 2 / 10;
	display: flex;
	align-items: center;
	width: 100%;
}
.tool-header a {
	text-decoration: none;
}
.tool-header-name {
	font-size: 1.125em;
	white-space: nowrap;
}
@media (min-width: 60em) {
	.tool-header-name {
		font-size: 1.5em;
	}
}
.tool-header-logo {
	margin-left: auto;
	display: flex;
	align-items: center;
	float: right;
}
.tool-header-logo img {
	display: block;
	margin: 0.75em 0 0.75em 0.5em;
	height: 1.5em;
}
@media (min-width: 60em) {
	.tool-header-logo img {
		height: 2em;
	}
}

