<ol>
  <li><time datetime="2025-04-22">22 Apr 2025</time>:
    <ul>
      <li>Added {{ "F112" | linkTechniques }}</li></li>
      <li>Removed F4 Failure of Success Criterion 2.2.2 due to using text-decoration:blink without a mechanism to stop it in less than five seconds</li>
      <li>Removed F47 Failure of Success Criterion 2.2.2 due to using the blink element</li>
    </ul>
  </li>
  <li><time datetime="2024-05-04">4 May 2024</time>: Removed F87 Failure of Success Criterion 1.3.1 due to inserting non-decorative content by using :before and :after pseudo-elements and the 'content' property in CSS</li>
  <li><time datetime="2020-07-15">15 July 2020</time>: Removed Flash techniques</li>
  <li><time datetime="2019-09-12">12 Sept 2019</time>: Added {{ "F105" | linkTechniques }}</li>
  <li><time datetime="2019-09-12">12 Sept 2019</time>: Added {{ "F106" | linkTechniques }}</li>
  <li><time datetime="2019-09-03">3 Sept 2019</time>: Added {{ "F104" | linkTechniques }}</li>
  <li><time datetime="2019-09-03">3 Sept 2019</time>: Added {{ "F103" | linkTechniques }}</li>
  <li><time datetime="2019-08-06">6 Aug 2019</time>: Added {{ "F102" | linkTechniques }}</li>
  <li><time datetime="2019-07-16">16 Jul 2019</time>: Added {{ "G216" | linkTechniques }}</li>
  <li><time datetime="2019-07-16">16 Jul 2019</time>: Added {{ "G215" | linkTechniques }}</li>
  <li><time datetime="2019-07-16">16 Jul 2019</time>: Added {{ "F100" | linkTechniques }}</li>
  <li><time datetime="2019-07-16">16 Jul 2019</time>: Added {{ "G214" | linkTechniques }}</li>
  <li><time datetime="2019-07-10">10 Jul 2019</time>: Added {{ "C40" | linkTechniques }}</li>
  <li><time datetime="2019-07-10">10 Jul 2019</time>: Added {{ "F99" | linkTechniques }}</li>
  <li><time datetime="2019-07-10">10 Jul 2019</time>: Added {{ "SCR39" | linkTechniques }}</li>
  <li><time datetime="2019-06-18">18 Jun 2019</time>: Added {{ "G212" | linkTechniques }}</li>
  <li><time datetime="2019-06-11">Jun 11 2019</time>: Added {{ "F98" | linkTechniques }}</li>
  <li><time datetime="2019-06-18">18 Jun 2019</time>: Added {{ "G213" | linkTechniques }}</li>
  <li><time datetime="2019-05-25">25 May 2019</time>: Added {{ "ARIA24" | linkTechniques }}</li>
  <li><time datetime="2019-04-20">26 Apr 2019</time>: Added {{ "F97" | linkTechniques }}</li>
  <li><time datetime="2019-02-26">26 Feb 2019</time>: Removed {{ "F52" | linkTechniques }} from SC 3.2.1 (still attached to SC 3.2.5)</li>
  <li><time datetime="2019-02-26">26 Feb 2019</time>: Added {{ "G209" | linkTechniques }}</li>
  <li><time datetime="2019-01-10">10 Jan 2019</time>: Added {{ "C39" | linkTechniques }}</li>
  <li><time datetime="2018-12-14">14 Dec 2018</time>: Added {{ "G207" | linkTechniques }}</li>
  <li><time datetime="2018-11-13">30 Nov 2018</time>: Added {{ "C38" | linkTechniques }}</li>
  <li><time datetime="2018-11-30">30 Nov 2018</time>: Added {{ "F95" | linkTechniques }}</li>
  <li><time datetime="2018-11-13">13 Nov 2018</time>: Added {{ "C34" | linkTechniques }}</li>
  <li><time datetime="2018-11-13">13 Nov 2018</time>: Added {{ "C36" | linkTechniques }}</li>
  <li><time datetime="2018-11-13">13 Nov 2018</time>: Added {{ "C37" | linkTechniques }}</li>
  <li><time datetime="2018-11-30">30 Nov 2018</time>: Added {{ "G207" | linkTechniques }}</li>
  <li><time datetime="2018-11-30">30 Nov 2018</time>: Added {{ "F95" | linkTechniques }}</li>
  <li><time datetime="2018-11-30">30 Nov 2018</time>: Added {{ "F96" | linkTechniques }}</li>
  <li><time datetime="2018-11-30">30 Nov 2018</time>: Added {{ "C38" | linkTechniques }}</li>
  <li><time datetime="2018-12-14">14 Dec 2018</time>: Added {{ "G207" | linkTechniques }}</li>
</ol>
