{%- if guideline.type == "Guideline" -%}
<p>
  Specific techniques for meeting each Success Criterion for this guideline
  are listed in the understanding sections for each Success Criterion (listed below).
  If there are techniques, however, for addressing this guideline that do not fall under
  any of the success criteria, they are listed here.
  These techniques are not required or sufficient for meeting any success criteria,
  but can make certain types of web content more accessible to more people.
</p>
{%- else -%}
<p>
  Although not required for conformance, the following additional techniques should be considered in order to make content more accessible.
  Not all techniques can be used or would be effective in all situations.
</p>
{%- endif -%}
