BODY {
	FONT-SIZE: 75%; LINE-HEIGHT: 150%; FONT-FAMILY: verdana, arial, sans-serif
}
H1 {
	FONT-SIZE: 150%
}
H2 {
	FONT-SIZE: 125%
}
H3 {
	FONT-SIZE: 110%
}
INPUT {
	FONT-SIZE: 100%; VERTICAL-ALIGN: middle; FONT-FAMILY: verdana, arial, sans-serif
}
BUTTON {
	FONT-SIZE: 100%; VERTICAL-ALIGN: middle; FONT-FAMILY: verdana, arial, sans-serif
}
SELECT {
	FONT-SIZE: 100%; VERTICAL-ALIGN: middle; FONT-FAMILY: verdana, arial, sans-serif
}
TEXTAREA {
	FONT-SIZE: 100%; VERTICAL-ALIGN: middle; FONT-FAMILY: verdana, arial, sans-serif
}
P {
	MARGIN-LEFT: 0px
}
FORM {
	MARGIN-LEFT: 0px
}
PRE {
	MARGIN-LEFT: 0px
}
PRE.code {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 100%; PADDING-BOTTOM: 5px; COLOR: #666666; PADDING-TOP: 5px; FONT-FAMILY: courier new, monospace; BACKGROUND-COLOR: #eee
}
.warning {
	COLOR: red
}
