{%- comment -%}
Banner shown only on builds of informative docs for GitHub Pages.
{%- endcomment -%}
{%- assign pubSlug = page.url | replace: "techniques", "Techniques" | replace: "understanding", "Understanding" | replace_last: ".html", "" -%}
<section class="default-grid info" aria-label="Notice">
  <p class="inner">
    This is an unpublished editor’s draft that might include content that is not finalized.
    <a href="https://www.w3.org/WAI/WCAG{{ version }}{{ pubSlug }}">View the published version</a>
  </p>
</section>
