{%- comment -%}
Banner shown only on builds of informative docs for GitHub Pages.
{%- endcomment -%}
{%- assign pubSlug = page.url | replace: "techniques", "Techniques" | replace: "understanding", "Understanding" | replace_last: ".html", "" -%}
<section class="default-grid info" tabindex="0" lang="en">
  <p class="inner">
    This is an editor's draft that might reference content that is not present in the Recommendation.
    <a href="https://www.w3.org/WAI/WCAG{{ version }}{{ pubSlug }}">Go to the published version</a>
  </p>
</section>
