<footer class="w3c-global-footer wai-global-footer default-grid" aria-label="Site">
  <div class="inner">
    <div class="wai-global-footer__content">
      <div class="wai-global-footer__subsite"><a href="https://www.w3.org/WAI/" lang="en" dir="auto" translate="no">W3C Web Accessibility Initiative (WAI)</a></div>
      <div class="wai-global-footer__subsite-desc">Strategies, standards, resources to make the Web accessible to people with disabilities</div>
      <div class="wai-global-footer__cta w3c-l-cluster w3c-l-cluster--vertical-align">
        <ul class="w3c-clean-list" role="list">
          <li class="w3c-with-icon--before w3c-with-icon--larger">
            <img class="w3c-icon w3c-icon--larger" src="https://www.w3.org/WAI/assets/images/email.svg" width="30" height="30" alt="" aria-hidden="true">
            <a href="https://www.w3.org/WAI/news/subscribe/">Get News in Email</a>
          </li>
          <li class="w3c-with-icon--before w3c-with-icon--larger">
            <img class="w3c-icon w3c-icon--larger" src="https://www.w3.org/WAI/assets/images/social/linkedin.svg" width="30" height="30" alt="" aria-hidden="true">
            <a href="https://www.linkedin.com/company/w3c-wai/" translate="no">LinkedIn</a>
          </li>
          <li class="w3c-with-icon--before w3c-with-icon--larger">
            <img class="w3c-icon w3c-icon--larger" src="https://www.w3.org/assets/website-2021/svg/mastodon.svg" width="30" height="30" alt="" aria-hidden="true">
            <a href="https://w3c.social/@wai" translate="no">Mastodon</a>
          </li>
          <li class="w3c-with-icon--before w3c-with-icon--larger">
            <img class="w3c-icon w3c-icon--larger" src="https://www.w3.org/WAI/assets/images/social/youtube.svg" width="30" height="30" alt="" aria-hidden="true">
            <a href="https://www.youtube.com/channel/UCU6ljj3m1fglIPjSjs2DpRA/playlists/" translate="no">YouTube</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="w3c-global-footer__links">
      <div class="w3c-l-cluster">
        <ul class="w3c-clean-list" role="list">
          <li><a href="https://www.w3.org/WAI/">Home</a></li>
          <li><a href="https://www.w3.org/WAI/about/contacting/">Contact</a></li>
          <li><a href="https://www.w3.org/WAI/sitemap/">Site map</a></li>
          <li><a href="https://www.w3.org/WAI/about/support/">Support WAI</a></li>
          <li><a href="https://www.w3.org/WAI/news/">News</a></li>
          <li><a href="https://www.w3.org/WAI/about/accessibility-statement/">Accessibility statement</a></li>
          <li><a href="https://www.w3.org/WAI/translations/">All Translations</a></li>
          <li><a href="https://www.w3.org/WAI/roles/">Resources for roles</a></li>
        </ul>
      </div>
    </div>
    <p class="w3c-copyright" translate="no">Copyright © {{ "now" | date: "%Y" }}  <a href="https://www.w3.org/">World Wide Web	Consortium</a>.<br>
      <abbr title="World Wide Web Consortium">W3C</abbr><sup>®</sup>
      <a href="https://www.w3.org/policies/#disclaimers">liability</a>,
      <a href="https://www.w3.org/policies/#trademarks">trademark</a> and
      <a rel="license" href="https://www.w3.org/copyright/software-license/" title="W3C Software License">permissive license</a>
      rules apply unless otherwise noted. See <a href="https://www.w3.org/WAI/about/using-wai-material/">Permission to Use WAI Material</a>.</p>
  </div>
</footer>
