{% if testRules.size > 0 %}
{%- if isTechniques -%}
  {% assign understandingActRulesHref = "../../understanding/understanding-act-rules.html" %}
{%- else -%}
  {% assign understandingActRulesHref = "understanding-act-rules.html" %}
{%- endif -%}
<section id="test-rules">
  <h2>Test Rules</h2>
  <p>
    The following are Test Rules
    {% if isTechniques -%}
      related to this Technique.
    {%- elsif isUnderstanding -%}
      for certain aspects of this Success Criterion.
    {%- endif %}
    It is not necessary to use these particular Test Rules to check for conformance with WCAG, but they are defined and approved test methods.
    For information on using Test Rules, see <a href="{{ understandingActRulesHref }}">Understanding Test Rules for WCAG Success Criteria</a>.
  </p>
  <ul>
  {% for rule in testRules %}
    <li><a href="/WAI{{ rule.permalink }}">{{ rule.title }}</a></li>
  {% endfor %}
  </ul>
</section>
{%- endif %}
