{% if isTechniques %}
	{% for technology in technologies %}
	{% assign technologyTitle = technologyTitles[technology] %}
	<h2 id="{{ technology }}">{{ technologyTitle }}
		<span class="permalink"><a href="#{{ technology }}" aria-label="Permalink for {{ technologyTitle }}" title="Permalink for {{ technologyTitle }}"><span>§</span></a></span>
	</h2>
	<ul class="toc-wcag-docs">
		{% assign list = techniques[technology] %}
		{% for technique in list %}
		<li>
			<a href="/techniques/{{ technology }}/{{ technique.id }}">{{ technique.id }}: {{ technique.title }}</a>
		</li>
		{% endfor %}
	</ul>
	{% endfor %}
{% elsif isUnderstanding %}
	<!-- TODO -->
{% endif %}