<footer id="wai-site-footer" class="page-footer default-grid" aria-label="Page">
  <div class="inner" style="grid-column: 2 / 8">
    <p>
      <strong>Date:</strong> Updated {{ page.date | date_to_long_string }}.
      {%- unless skipHistory %}
      <a href="https://github.com/w3c/wcag/commits/main/{{ page.inputPath | replace_first: "./", "" }}">View this page's revision history.</a>
      {%- endunless -%}
    </p>
    <p><strong>Developed by</strong>
      <a href="https://www.w3.org/groups/wg/ag/participants">Accessibility Guidelines Working Group (AG WG) Participants</a>
      (Co-Chairs: Alastair Campbell, Rachael Bradley Montgomery. W3C Staff Contact:
      {% if version >= 22 -%} Kevin White {%- else -%} Michael Cooper {%- endif %}).
    </p>
    <p>The content was developed as part of the
      <a href="https://www.w3.org/WAI/about/projects/#us">WAI-Core projects</a> funded by U.S. Federal funds.
      The user interface was designed by the Education and Outreach Working Group
      (<a href="https://www.w3.org/groups/wg/eowg/participants">EOWG</a>) with contributions from
      Shadi Abou-Zahra, Steve Lee, and Shawn Lawton Henry as part of the
      <a href="https://www.w3.org/WAI/about/projects/wai-guide/">WAI-Guide</a> project,
      co-funded by the European Commission.
    </p>
  </div>
</footer>
