<link rel="stylesheet" href="../a11y-light.css" />
<script src="../highlight.min.js"></script>
<script>
  hljs.configure({
    cssSelector: 'pre'
  });
  hljs.highlightAll();
  var translationStrings = {}; /* fix WAI JS */
</script>
<script src="https://www.w3.org/WAI/assets/scripts/main.js"></script>
{% # Matomo %}
<script>
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDoNotTrack", true]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function () {
    var u = "//www.w3.org/analytics/piwik/";
    _paq.push(['setTrackerUrl', u + 'piwik.php']);
    _paq.push(['setSiteId', '328']);
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'piwik.js'; s.parentNode.insertBefore(g, s);
  })();
</script>
<noscript>
  <p><img src="//www.w3.org/analytics/piwik/piwik.php?idsite=328&amp;rec=1" style="border:0;" alt="" /></p>
</noscript>
{% # End Matomo Code %}
