main {
    display: block;
    background-image: linear-gradient(#d0e1f1 0, #d0e1f1 48px, #fff 48px);
}

.nav {
    margin-bottom: 2em;
}

.nav__item a {
    display: inline-block;
}

.nav__item a svg {
    vertical-align: middle;
    height: 1em;
}

.nav__item a+button {
    margin-left: -0.75em;
    margin-right: 1em;
    ;
}

.tool-header {
    -ms-grid-column: 2;
    -ms-grid-column-span: 8;
    -ms-grid-row: 1;
    grid-column: 2 / 10;
    max-height: 3em;
}

.main-content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 6;
    grid-column: 2 / span 6;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row-start: 2;
}

.sidebar ul {
    padding: 0;
}

.sidebar li {
    margin-left: 1em;
}

.sidebar dd {
    margin-left: 0!important;
}

h2 {
    position: relative;
}

h2 .permalink {
    position: absolute;
    left: -1em;
}

h2 .permalink a {
    color: var(--grey);
    text-decoration: none;
}

h2 .fragmentlink {
    margin-left: -1em;
    position: relative;
    float: left;
}

h2 .fragmentlink svg {
    visibility: hidden;
}

h2:hover .fragmentlink svg {
    visibility: visible;
}

[data-tooltip-content] {
    padding: 0;
    background: none;
    border: 0;
    color: black;
    font-size: inherit;
    vertical-align: middle;
}

[data-tooltip-content]:hover {
    background: none;
    color: var(--light-blue);
}

[data-tippy-root] {
    padding: 0 2em;
}

dt div {
    font-weight: normal;
}