{% comment %}
Navigation used for Understanding index/about pages only.
See _includes/header.html for expected input notes
{% endcomment %}
<div class="default-grid nav-container nav-page-specific">
  <div class="default-grid">
    <nav class="nav" aria-label="{{ headerLabel }}">
      <ul>
        <li class="nav__item">
          {% if page.fileSlug == "understanding" %}
          <a href="." class="active" aria-current="page">All {{ headerLabel }}</a>
          {% else %}
          <a href=".">All {{ headerLabel }}</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </div>
</div>
