name: Check Spelling

on:
  pull_request:
    branches: [main]

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v7
        with:
          # incremental_files_only would scan every file in the PR,
          # even those that would typically be ignored
          incremental_files_only: false
